<!DOCTYPE html>
<html>
  <head class=header>
    <title></title>
  </head>
  <body>

    <div class=side-bar>
      <div class="side-bar__user">
        <div class="side-bar__user-content">
          <div class="side-bar__user-name">
            sample
          </div>
          <h1>font１仮</h1>
          <h1>font２仮</h1>
        </div>
      </div>
    </div>


    <div class=chat>
    </div>
    <footer class="footer">
    </footer>
  </body>
</html>
