// user.scssuser.scssuser.scss

// .top-message{
//   text-align: center;
//   background-color: #38AEF0;
// }

.side-bar {
  width: 300px;
  height: 100%;
  color: white;
  float: left;
  .user{
    background-color: #253141;
    padding: 0 20px;
    height: 100px;
    line-height: 100px;
    &__name{
      font-size: 16px;
      display: inline-block;
      font-weight: bold;
    }
    &__lists{
      float: right;
      display: inline-block;
      .list{
        display: inline-block;
      }
      .icon {
          color: white;
          font-size: 16px;
      }
    }
  }

  .side-bar__groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    .side-bar__group{
      padding: 20px 0 40px;
      &-name{
        font-size: 15px;
        color: white;
        text-decoration: none;
      }
      &-massage{
        font-size: 11px;
        margin-top: 5px;
        color: white;
        text-decoration: none;
      }
    }
  }
}

